# Git
.git
.gitignore

# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info
*.egg
*.log

# Environments
.env
*.env
.venv/
venv/
pip-wheel-metadata/

# Node
node_modules/

# Django
staticfiles/
assets/
media/

# Database & test artifacts
db.sqlite3
pytest_cache/
.coverage
htmlcov/

.git
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
.venv
.env
.env.*
node_modules
media/
staticfiles/
dist/
build/
