<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>code of verification</title>
    </head>
    <body>

        <div
            style="margin-top: 30px;width: 100%;padding: 0px;box-sizing: border-box;">
            <header
                style="width: 85%;margin: auto;padding: 10px 40px;background-color: #42d77e49;display:flex; align-items:center; gap:10px;">
                <img style="width: 60px; height: 60px; object-fit: cover;"
                    src="./logo.png"
                    alt="logo">
                    <h1>Solar system</h1>
            </header>
        </div>
        <div
            style="width: 100%; font-family: Arial, Helvetica, sans-serif;margin: 0px;padding: 0px;">
            <div style="width: 85%;margin: auto">'
                <h1 style="font-size: 30px; margin: 40px 0px;">Confirmation of
                    your e-mail address</h1>
                <div style="font-family: sans-serif;font-size: 18px;">
                    <p>Please confirm that {{email}} matches your email address.
                        All you need to do is enter the validation code to
                        continue your registration.</p>
                    <p>You will then be able to take advantage of solar
                        products and access your customer control panel.</p>
                </div>
            </div>
        </div>
        <div
            style="width: 100%;margin: 0px;padding: 0px;box-sizing: border-box;">
            <div
                style="width: 85%;margin: auto; display: flex;justify-content: center;align-items: center; font-family: Arial, Helvetica, sans-serif;background-color: #2ecc7044;">
                <div style="width: 100%;padding: 10px 30px;text-align: center;">
                    <h2 style="font-size: 20px;text-align: center;">Your
                        validation code</h2>
                    <h1 style="font-size: 40px;text-align: center;">{{otp}}</h1>
                </div>
            </div>
        </div>

        <div
            style="width: 100%;margin: 0px;padding: 0px;box-sizing: border-box;">
            <footer
                style="width: 85%;margin: auto; font-family: Arial, Helvetica, sans-serif;font-size: 18px;">
                <p>Once your address has been validated, you will not be asked
                    for this code again.</p>
                <p>If you are not the intended recipient of this email, no
                    further action is required. Do not share the
                    code, no action is required on your part.</p>
                <p>Thank you for choosing solar system !</p>
                <p>The solar team</p>
            </footer>
        </div>
    </body>
</html>