name: Build and Push Docker Image

on:
  push:
    branches:
      - master
  workflow_dispatch: # Allow manual triggers

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      docker:
        image: docker:24.0.7-dind
        options: --privileged

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        run: docker login -u brokewala -p ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Extracts metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: brokewala/solar-bakend

      - name: Build and push Docker image
        run: |
          docker build -t brokewala/solar-bakend:latest .
          docker push brokewala/solar-bakend:latest
